{% extends "base.html" %}

{% block content %}
    <div class="container bg-light content">
        <h1>{{ title }}</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <br>
                    {{ form.email(type="email", size=32, required="required", class="form-control form-control-lg") }}
                    {% for error in form.email.errors %}
                    <span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    <br>
                    {{ form.password(size=32, required="required", class="form-control form-control-lg") }}
                    {% for error in form.password.errors %}
                    <span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-control-label") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                <small class="text-muted">
                    Forgot password? <a class="ml-2" href="{{ url_for('login') }}">Reset Password</a>
                </small>
            </fieldset>
        </form>
    </div>
{% endblock content %}