{% extends "base.html" %}

{% block content %}
    <div class="container bg-light content">
        <h1>{{ title }}</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <br>
                    {{ form.email(type="email", size=32, required="required", class="form-control form-control-lg") }}
                    {% for error in form.email.errors %}
                    <span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}